---
title: false
styles: true
---

// styles.scss
.table-font {
    font-family: Georgia, serif; // Specify the font you want to use
    // Add any other styling you want for the table content
}
@import "alembic";